body {
    background-color: #F2F2F2;
  }

  h2 {
    margin-bottom: 0%;
  }

  tr:nth-child(even) {
    /* background-color: lightgoldenrodyellow; */ 
    background-color: #eee;
  }

  table {
    width: 100%;
    /* box-shadow: 0px 4px 8px 0px rgba(80, 80, 80, 0.6); */
    background-color: white;
  }

  .sidebar li {
    color: white;
    text-align: center;
    list-style-type: none;
  }

