body {
    background-color: #F2F2F2;
  }

  h2 {
    margin-bottom: 0%;
  }

  table {
    width: 100%; 
    /* box-shadow: 0px 4px 8px 0px rgba(80, 80, 80, 0.6); */
    background-color: white;
  }

  textarea {
      width: 100%;
      height: 60%; 
  }

  .panel input, .panel select {
    height: 30px;
    padding: 3px 16px; 
    font-size: 14px;
  }

.flex {
    display: flex; 
    justify-content: space-evenly;
}

.vl {
    padding: 0px;
    box-shadow: 1px 3px 4px 1px rgba(200, 200, 200, 0.3);
    border-left: 1.3px gainsboro solid;
}

.main {
  padding-top: 7%;
  margin-left: 16%;
}

#rightPanel {
   width: 50%;
   padding: 6px 20px;
}

#leftPanel {
    width: 50%;
    padding: 6px 20px;
}

#firstText, #firstText i {
  margin-top: 0px;
}

.titles, .titles i {
  color: slategray;
  margin-top: 12px;
  font-weight: bold;
}

#bottomPanel {
    margin-left: 30px; 
}

.panel {
    width: 76%;
    padding: 8px 0px;
    margin-top: 0%;
    box-shadow: 0px 8px 8px -3px rgba(180, 180, 180, 0.7); 
    border-left: 5px #fde425 solid;
    border-bottom: 1px rgba(180, 180, 180, 0.7) solid;
    background-color: white;
}

