  body {
    background-color: #F2F2F2;
  }

  h2 {
    margin-bottom: 0%;
  }

  p {
    line-height: 4px;
  }

  .panel a, .panel a i {
    color: black; 
    padding: 2px;
    font-size: 90%; 
    margin-left: 3px;
    background-color: transparent;
  }

  .panel a {
    background-color: palegoldenrod;
  }

  .panel a:hover { 
    transition: all 0.4s;
    background-color: gold;
  }

.col i, .panel i {
    color:lightslategrey;
    min-width: 14px;
    min-height: 14px;
    max-width: 14px;
    max-height: 14px;
    transition: all 0.3s;
}

.main {
    padding-top: 7%;
    margin-left: 18%;
}

/* Create two equal columns that floats next to each other */
.col {
  float: left;
  width: 50%;
  padding: 10px;
  height: 300px; /* Should be removed. Only for demonstration */
}

/* Clear floats after the columns */
.main:after {
  content: "";
  display: table;
  clear: both;
}

.col.left {
    width: 26%; 
    margin-top: -4%;
    margin-left: -1%;
}

#leftPanel {
    max-height: 390px;
    width: 80%;
    border: 5px rgba(72, 72, 35, 1) solid;
    padding: 10px;
    margin-top: -8px;
    box-shadow: 0px 8px 8px -3px rgba(180, 180, 180, 0.7); 
    background-color: white;
    border-bottom-left-radius: 5px; 
    border-bottom-right-radius: 5px;
}

#cardHandle {
    width: 91%;
    margin-top: -2%;
    margin-left: 0%;
}

.col.right {
    width: 47%;
    padding: 10px;
    margin-top: -14px;
}

.panel {
    padding: 8px 0px;
    margin-top: 0%;
    box-shadow: 0px 8px 8px -3px rgba(180, 180, 180, 0.7); 
    border-left: 5px #fde425 solid;
    border-bottom: 1px rgba(180, 180, 180, 0.7) solid;
    background-color: white;
}

.panel:last-of-type {
    border-bottom: 2px #fde425 solid;
}

.panel small {
    color: slategray;
    font-family: Nunito thin;
}

#uProfilePic {
    width: 100%;
    height: 180px;
}

#uProfilePic span {
    color: whitesmoke; 
    display: inline-block;
    padding: 34% 40%;
    font-size: 40px; 
    text-align: center; 
}

.contact {
    color: slategray;
    margin-bottom: 6px;
    font-size: 90%;
    font-weight: 570;
}

.copy:hover, .copy:hover i {
    color: goldenrod; 
    font-size: 14px;
    transition: all 0.2s;
}

.flex, #topPanel {
    display: flex; 
    justify-content: space-evenly;
}

.vl {
    padding: 0px;
    box-shadow: 1px 3px 4px 1px rgba(200, 200, 200, 0.3);
    border-left: 1.3px gainsboro solid;
}

.main {
  padding-top: 7%;
  margin-left: 18%;
}

#salaryPanel {
  width: 50%;
  padding: 6px 20px;
}

#rightPanel {
  width: 50%;
  padding: 6px 20px;
}

#hourPanel, #taxPanel, #salaryPanel {
  margin-bottom: 12px;
}

#salaryText, #salaryText i, 
#bonusText, #bonusText i {
  color:rgb(123, 204, 43);
  font-weight: bold;
}

.classText,.classText i {
  color:rgba(139, 139, 139, 0.7);
  font-weight: bold;
}

#bonusText, #bonusText i {
  margin-top: 0px;
}

#leaveText, #leaveText i, 
#deductionText, #deductionText i {
  color: coral;
  font-weight: bold;
}

#deductionText, #deductionText i {
  margin-bottom: 0px;
}

#bottomPanel {
    margin-left: 30px; 
}

#bottomPanel small, 
#bottomPanel i, 
#bottomPanel u {
  float: right;
}

#bottomPanel small {
  margin-left: 20px;
}

#bottomPanel u { 
  font-size:  19px;
  font-style: italic;
  font-weight: 400;
  margin-right: 60px; 
}