<HTML ng-app='app-show-emp'>
  
  <BODY> 
  
    <DIV class="main">
      <DIV class="col left">
      <IMG ID="cardHandle" SRC="../assets/img_cardHandle.png"> 
      <DIV id="leftPanel">
        <DIV>
          <small style="font-weight: bold;">ID: {{ emp.EmployeeID }}</small> <BR/>
          <H1 style="margin-bottom: 0%;">{{emp.FirstName}}&nbsp;{{emp.LastName}}</H1>
          <span style="color: slategray; font-weight: 500;">{{emp.Title}}</span> 
        </DIV>
        <BR/>
        <DIV id="uProfilePic" [ngStyle]="{'background-color': emp.Color}">
          <span style="top: 30px;">{{emp.FirstName.substr(0, 2)}}</span></DIV> 
        <br>
        <DIV class="contact copy">
            <small style="font-weight: 600;">
              <i class="fas fa-envelope-open-text"></i>
              &nbsp;BILLING ADDRESS :</small> <BR/>
            <span>
              {{ address.AddressLine1 }}, <BR/>
              <span *ngIf="address.AddressLine2 != null" > 
                {{ address.AddressLine2 }}, <BR/>
              </span> 
              {{address.City}}, 
              {{address.State}}&nbsp;{{address.PostalCode}}</span>
        </DIV>
      </DIV>
    </DIV>
      
      <DIV class="right col">
        <H3 style="color: slategray">Employee Details</H3>
        <DIV class="panel flex">
          <DIV>
            <i class="fas fa-briefcase"></i> &nbsp;
            <small style="font-weight: 600;">DEPARTMENT : </small> <br/>
            <span><a routerLink="['/employee/employeeDetails/', dep.DepartmentID]">
              {{ dep.DepartmentName }} 
              <i class="fas fa-external-link-alt"></i></a></span>
          </DIV>
          <div class="vl"></div>
          <DIV>
            <i class="fas fa-user-tie"></i> &nbsp;
            <small style="font-weight: 600;">MANAGED BY : </small> <br/>
            <span title="{{manager.FirstName + ' ' + manager.LastName}}">
              <a [routerLink]="['/employee/employeeDetails', emp.ManagerID.trim()]">
              {{manager.FirstName + " " + manager.LastName}} 
              <i class="fas fa-external-link-alt"></i></a></span>
          </DIV>
          <div class="vl"></div>
          <DIV>
            <i class="far fa-calendar-alt"></i> &nbsp;
            <small style="font-weight: 600;">HIRE DATE : </small> <br/>
            <span>{{ emp.HireDate | date }}</span>
          </DIV>
        </DIV>

        <DIV class="panel flex">
          <DIV class="contact">
            <small style="font-weight: 600;"> 
              <i class="fas fa-venus-mars"></i></small> &nbsp;
            <span>{{emp.Gender}}</span> <br/> 

            <small style="font-weight: 600;">
              <i class="fas fa-birthday-cake"></i></small> &nbsp;
            <span>{{ emp.BirthDate }}&nbsp;{{ emp.BirthMonth }}</span> <br/> 
          </DIV>

          <div class="vl"></div>

          <DIV class="contact copy">
            <small style="font-weight: 600;"><i class="far fa-envelope"></i> 
              &nbsp;EMAIL: </small> <br/>
            <span>{{ emp.Email }}</span>
          </DIV>
          <div class="vl"></div>
          <DIV class="contact copy">
            <small style="font-weight: 600;"><i class="fa fa-phone"></i>
              &nbsp;PHONE: </small> <br/>
            <span>{{emp.ContactNo}}</span>
          </DIV>
        </DIV>
  
      <DIV class="panel"> 
        <DIV id="topPanel">
          <DIV id="salaryPanel">
            <DIV> 
              <small id="salaryText">
                <i class="far fa-plus-square"></i> 
                &nbsp;SALARY  
              </small> <BR/> 
              <span>&nbsp;&nbsp;&nbsp;&emsp;{{emp.HrsWorked * salaryClass.Rate | 
                currency }}</span>
              <small style="float: right">Class: {{ emp.SalaryClassID }}</small> 
            </DIV>
            <DIV>
                <small class="classText">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;ALLOWANCE REAMAINING: </small> 
                <DIV *ngIf="salaryClass.MedicalAllowance != 0"> 
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  ↳ <i class="fa fa-heartbeat"></i> &nbsp;
                  <!-- <small>Health: </small>  -->
                  <span>&emsp;{{ salaryClass.MedicalAllowance | currency }}</span>
                </DIV>
                <DIV *ngIf="salaryClass.TravelAllowance != 0">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  ↳ <i class="fas fa-bus-alt"></i> &nbsp;
                  <!-- <small>Travel: </small>  -->
                  <span>&emsp;{{ salaryClass.TravelAllowance | currency }}</span>
                </DIV>
                <DIV *ngIf="salaryClass.ClothingAllowance != 0">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  ↳ <i class="fas fa-tshirt"></i> &nbsp;
                  <!-- <small>Clothing: </small>  -->
                  <span>&emsp;{{ salaryClass.ClothingAllowance | currency }}</span>
                </DIV>
                <DIV *ngIf="salaryClass.MealAllowance != 0">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  ↳ <i class="fas fa-utensils"></i> &nbsp;
                  <!-- <small>Meal: </small>  -->
                  <span>&emsp;{{ salaryClass.MealAllowance | currency }}</span>
                </DIV>
                <DIV *ngIf="salaryClass.EducationAllowance != 0">
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  ↳ <i class="fas fa-book"></i> &nbsp;
                  <!-- <small>Education: </small>  -->
                  <span>&emsp;{{ salaryClass.EducationAllowance | currency }}</span> 
                  <BR/> 
                </DIV>
                <small id="bonusText"><i class="far fa-plus-square"></i> 
                  &nbsp;BONUS: </small> <BR/> 
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>{{ ((emp.HrsWorked * salaryClass.Rate) * salaryClass.Bonus/100) | 
                    currency }}</span> 
                <small style="float: right">{{ salaryClass.Bonus }}% of salary</small> 
                
                <BR/> 
                <small id="salaryText">
                  <i class="far fa-plus-square"></i> 
                  &nbsp;SUPERFUND  
                </small> <BR/> 
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>{{ (emp.HrsWorked * salaryClass.Rate * 0.095) | currency }}</span>
                <small style="float: right">9.5% of salary</small> 
            </DIV> 
          </DIV>
          <div class="vl"></div>
          <DIV id="rightPanel">
            <DIV id="hourPanel" *ngIf="vacation != 0 || sickLeave != 0 || 
                parentalLeave != 0 || others != 0">
              <small id="leaveText"><i class="far fa-minus-square"></i> LEAVE</small>
              <DIV *ngIf="vacation != 0" >
                ↳ <i class="far fa-clock"></i> 
                <small>&nbsp;Vacation: &nbsp;&nbsp;&emsp;&nbsp;&emsp;</small> 
                <span>{{ vacation }}&nbsp;<small>days</small></span>
              </DIV>
              <DIV *ngIf="sickLeave != 0">
                ↳ <i class="far fa-clock"></i> 
                <small>&nbsp;Sick leave: &nbsp;&nbsp;&nbsp;&emsp;&nbsp;</small> 
                <span>{{ sickLeave }}&nbsp;<small>days</small></span>
              </DIV> 
              <DIV *ngIf="parentalLeave != 0">
                ↳ <i class="far fa-clock"></i> 
                <small>&nbsp;Parental Leave: </small> 
                <span>{{ parentalLeave }}&nbsp;<small>days</small></span>
              </DIV>
              <DIV *ngIf="others != 0"> 
                ↳ <i class="far fa-clock"></i> 
                <small>&nbsp;Others: &nbsp;&nbsp;&emsp;&nbsp;&nbsp;&nbsp;&emsp;</small> 
                <span>{{ others }}&nbsp;<small>days</small></span>
              </DIV>
              <P> </P>
            </DIV>

            <DIV id="taxPanel">
              <small id="deductionText"><i class="far fa-minus-square"></i> DEDUCTIONS</small>
              <DIV>
                ↳ <i class="far fa-file-alt"></i>
                <small>&nbsp;Tax: </small> 
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;
                  {{ (emp.HrsWorked * salaryClass.Rate * (emp.TaxRate/100)) | currency }}</span>
              </DIV>
            </DIV>
          </DIV>
        </DIV>
          <HR/>
          <DIV id="bottomPanel">
            <span>&nbsp;&emsp;&nbsp;<u>{{ 
              (emp.HrsWorked * salaryClass.Rate * (1 - (emp.TaxRate/100)) - 
              ((vacation + parentalLeave + sickLeave + others) * 12 * 
              salaryClass.Rate)).toFixed(2) }}</u>
              <small style="font-weight: 600;"> NET PAY: &nbsp;&emsp;&nbsp; </small>
              </span><i class="fas fa-dollar-sign"></i> &nbsp;
            
          </DIV>
         </DIV>
         <P> </P>
        <small style="float: right">
          <i>Last Modified : {{ emp.ModifiedDate | date }}</i></small>
      </DIV>
      
  
    </DIV>
      
  </BODY>
  
