<HTML ng-app='app-show-emp'>
  
  <BODY> 
    <NAV class="topnav">
      <IMG ID="logo" ALT="Rollaxis logo" SRC="./assets/logo_text.png" /> 
          <button class="navbtn" style="margin-left: 6%;"><span>Dashboard</span></button>
          <button class="navbtn active" ><span>Employee Details</span></button>
          <button class="navbtn" ><span>Manage Invoice</span></button>
          <button class="navbtn" ><span>Manage Leave</span></button>
        
        <!-- User Profile dropdown -->
        <button class="dropbtn" id="userDropbtn">
          <DIV id="profilePic" [ngStyle]="{'background-color': emp.Color}">
            <span>{{emp.FirstName.substr(0, 2)}}</span></DIV>
          &nbsp;&nbsp;<span>{{ emp.FirstName }}&nbsp;{{ emp.LastName }}&nbsp;
            <i class="fas fa-chevron-down"></i></span>
         </button>
         <div class="dropdown-content" id="userDropContent">
          <a href="/employee"><i class="far fa-user"></i> &emsp;My Profile</a>
          <a href="Users/logout"><i class="fas fa-sign-out-alt"></i> &emsp;Log out</a>   
         </div>
  
    </NAV>
  
  
    <DIV class="main">
      <DIV class="col left">
      <IMG ID="cardHandle" SRC="../assets/img_cardHandle.png"> 
      <DIV id="leftPanel">
        <DIV>
          <small style="font-weight: bold;">ID: {{ emp.EmployeeID }}</small> <BR/>
          <H1 style="margin-bottom: 0%;">{{emp.FirstName}}&nbsp;{{emp.LastName}}</H1>
          <span style="color: slategray; font-weight: 500;">{{emp.Title}}</span> 
        </DIV>
        <BR/>
        <DIV id="uProfilePic" [ngStyle]="{'background-color': emp.Color}">
          <span style="top: 30px;">{{emp.FirstName.substr(0, 2)}}</span></DIV> 
        <br>
        <DIV class="contact copy">
            <small style="font-weight: 600;">
              <i class="fas fa-envelope-open-text"></i>
              &nbsp;BILLING ADDRESS :</small> <BR/>
            <span>
              {{ address.AddressLine1 }}, <BR/>
              <span *ngIf="address.AddressLine2 != null" > 
                {{ address.AddressLine2 }}, <BR/>
              </span> 
              {{address.City}}, 
              {{address.State}}&nbsp;{{address.PostalCode}}</span>
        </DIV>
      </DIV>
    </DIV>
      
      <DIV class="right col">
        <H3 style="color: slategray">Employee Details</H3>
        <DIV class="panel flex">
          <DIV>
            <i class="fas fa-briefcase"></i> &nbsp;
            <small style="font-weight: 600;">DEPARTMENT : </small> <br/>
            <span><a href="#">{{ emp.DepartmentID }} <i class="fas fa-external-link-alt"></i></a></span>
          </DIV>
          <div class="vl"></div>
          <DIV>
            <i class="fas fa-user-tie"></i> &nbsp;
            <small style="font-weight: 600;">MANAGEED BY : </small> <br/>
            <span><a href="#">EID: {{emp.ManagerID}} <i class="fas fa-external-link-alt"></i></a></span>
          </DIV>
          <div class="vl"></div>
          <DIV>
            <i class="far fa-calendar-alt"></i> &nbsp;
            <small style="font-weight: 600;">HIRE DATE : </small> <br/>
            <span>{{ emp.HireDate | date }}</span>
          </DIV>
        </DIV>

        <DIV class="panel flex">
          <DIV class="contact">
            <small style="font-weight: 600;"> 
              <i class="fas fa-venus-mars"></i></small> &nbsp;
            <span>{{emp.Gender}}</span> <br/> 

            <small style="font-weight: 600;">
              <i class="fas fa-birthday-cake"></i></small> &nbsp;
            <span>{{ emp.BirthDate }}&nbsp;{{ emp.BirthMonth }}</span> <br/> 
          </DIV>

          <div class="vl"></div>

          <DIV class="contact copy">
            <small style="font-weight: 600;"><i class="far fa-envelope"></i> 
              &nbsp;EMAIL: </small> <br/>
            <span>{{ emp.Email }}</span>
          </DIV>
          <div class="vl"></div>
          <DIV class="contact copy">
            <small style="font-weight: 600;"><i class="fa fa-phone"></i>
              &nbsp;PHONE: </small> <br/>
            <span>{{emp.ContactNo}}</span>
          </DIV>
        </DIV>
  
      <DIV class="panel"> 
        <DIV id="topPanel">
          <DIV id="salaryPanel">
            <DIV> 
              <small id="salaryText">
                <i class="far fa-plus-square"></i> 
                &nbsp;SALARY  
              </small> <BR/>
              <span>&nbsp;&nbsp;&emsp;{{emp.Salary | currency }}</span>
            </DIV>
            <DIV>
                <small id="classText">
                  <i class="far fa-plus-square"></i> 
                  &nbsp;CLASS: </small> 
                <small>&emsp;{{ emp.SalaryClassID }}</small> 
                <DIV> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  ↳ <i class="fa fa-heartbeat"></i> &nbsp;
                  <!-- <small>Health: </small>  -->
                  <span>&emsp;{{ healthAllowance | currency }}</span>
                </DIV>
                <DIV>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  ↳ <i class="fas fa-bus-alt"></i> &nbsp;
                  <!-- <small>Travel: </small>  -->
                  <span>&emsp;{{ travelAllowance | currency }}</span>
                </DIV>
                <DIV>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  ↳ <i class="fas fa-tshirt"></i> &nbsp;
                  <!-- <small>Clothing: </small>  -->
                  <span>&emsp;{{ clothAllowance | currency }}</span>
                </DIV>
                <DIV>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  ↳ <i class="fas fa-utensils"></i> &nbsp;
                  <!-- <small>Meal: </small>  -->
                  <span>&emsp;{{ mealAllowance | currency }}</span>
                </DIV>
                <small id="bonusText"><i class="far fa-plus-square"></i> 
                  &nbsp;BONUS: </small> <br/>
                  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <span>{{ bonus | currency }}</span> 
            </DIV> 
          </DIV>
          <div class="vl"></div>
          <DIV id="rightPanel">
            <DIV id="hourPanel" *ngIf="vacation != 0 || sickLeave != 0 || 
                parentalLeave != 0 || others != 0">
              <small id="leaveText"><i class="far fa-minus-square"></i> LEAVE</small>
              <DIV *ngIf="vacation != 0" >
                ↳ <i class="far fa-clock"></i> 
                <small>&nbsp;Vacation: &nbsp;&nbsp;&emsp;&nbsp;&emsp;</small> 
                <span>{{ vacation }}&nbsp;<small>days</small></span>
              </DIV>
              <DIV *ngIf="sickLeave != 0">
                ↳ <i class="far fa-clock"></i> 
                <small>&nbsp;Sick leave: &nbsp;&nbsp;&nbsp;&emsp;&nbsp;</small> 
                <span>{{ sickLeave }}&nbsp;<small>days</small></span>
              </DIV> 
              <DIV *ngIf="parentalLeave != 0">
                ↳ <i class="far fa-clock"></i> 
                <small>&nbsp;Parental Leave: </small> 
                <span>{{ parentalLeave }}&nbsp;<small>days</small></span>
              </DIV>
              <DIV *ngIf="others != 0"> 
                ↳ <i class="far fa-clock"></i> 
                <small>&nbsp;Others: &nbsp;&nbsp;&emsp;&nbsp;&nbsp;&nbsp;&emsp;</small> 
                <span>{{ others }}&nbsp;<small>days</small></span>
              </DIV>
            </DIV>

            <DIV id="taxPanel">
              <small id="deductionText"><i class="far fa-minus-square"></i> DEDUCTIONS</small>
              <DIV>
                ↳ <i class="far fa-file-alt"></i>
                <small>&nbsp;Tax: </small> 
                <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  &nbsp;&nbsp;&nbsp;
                  {{ (emp.Salary * (emp.TaxRate/100)) | currency }}</span>
              </DIV>
              <DIV>
                ↳ <i class="far fa-file-alt"></i>
                <small>&nbsp;Superfund: &nbsp;&nbsp;&nbsp;&nbsp;</small> 
                <span>{{ emp.SuperFund | currency }}</span>
              </DIV>
            </DIV>
          </DIV>
        </DIV>
          <HR/>
          <DIV id="bottomPanel">
            <span>&nbsp;&emsp;&nbsp;<u>{{ (emp.Salary - (emp.Salary * (emp.TaxRate/100))
              - emp.SuperFund).toFixed(2) }}</u>
              <small style="font-weight: 600;"> NET PAY: &nbsp;&emsp;&nbsp; </small>
              </span><i class="fas fa-dollar-sign"></i> &nbsp;
            
          </DIV>
         </DIV>
         <BR/>
        <small style="float: right">
          <i>Last Modified : {{ emp.ModifiedDate | date }}</i></small>
      </DIV>
      
  
    </DIV>
      
  </BODY>
  
